*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    flex-wrap: wrap;
    z-index: 1000;
    top: 0;
    position: sticky;
}

.header h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
    padding: 10px;
}

.navbar a:hover{
    color: #999;
    border-bottom: 1px solid white;
}

.hero-section{
    background: url(/pictures/consulting-agency.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero{
    background-color: #3333335e;
    padding: 60px;
}

.hero-section #tagline{
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 70px;
    margin-top: 70px;
}

.hero-section .cta-button{
    text-decoration: none;
    color: #222;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 5px 12px #222;
    padding: 10px;
    transition: 0.3s;
}

.hero-section .cta-button:hover{
    background-color: rgba(182, 178, 178, 0.925);
    box-shadow: 2px 10px 24px black;
}

.hero-section #short-intro{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: azure;
    margin-top: 50px;
}

main #our-services{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    background-color: rgb(80, 151, 233);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    border-radius: 8px;
    background-color: #333;
    text-align: center;
    box-shadow: 1px 6px 12px #222;
    transition: 0.3s;
    cursor: pointer;
    width: 400px;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 24px #111;
}

.card-img{
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 300px;
}

.card h3{
    color: white;
    padding: 10px;
    font-size: 1.6rem;
}

.card p{
    color: white;
    font-style: italic;
    padding: 10px;
    font-size: 1.2rem;
}

.view-more{
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
}

.view-more a:hover{
    border: 1px solid #222;
    color: #222;
    background-color: white;
}

.view-more a{
    transition: 0.3s;
    color: #222;
    background-color: rgb(14, 114, 160);
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.statistics{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 35px;
    font-size: 1.4rem;
}

.statistics ul{
    list-style-position: inside;
}

.statistics li{
    color: rgb(15, 129, 114);
    font-weight: bold;
}


.contact-section h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
    text-align: center;
    background-color: #94abd4;
    padding: 20px;
    width: 90%;
    margin: auto;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 40px;
}

.mail-name input{
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    width: 46%;
}

textarea{
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    margin-bottom: 10px;
}

.input-submit input{
    border: 0.5px solid #333;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: rgb(89, 152, 204);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

.input-submit input:hover{
    background-color: rgb(12, 135, 235);
}

.information{
    border: 1px solid #333;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.information p{
    text-align: center;
    line-height: 30px;
}

.main-contact h2{
    margin-top: 40px;
    text-align: center;
    text-shadow: 2px 5px 5px #333;
}

.map{
    text-align: center;
    margin-top: 20px;
}

.social-media{
    padding: 20px;
    margin-top: 40px;
    background-color: #94abd4;
    text-align: center;
}

.social-media a{
    text-decoration: none;
}

.social-media p{
    margin-top: 30px;
    color: #222;
}


.team-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.team-card{
    box-shadow: 1px 6px 12px #222;
    border-radius: 10px;
    width: 400px;
    background-color: #333;
    color: white;
    text-align: center;
    transition: 0.3s ease;
}

.team-card:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 24px #111;
}

.team-card .image-team{
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 0 0;
}

.team-card h3{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 2px;
    padding: 10px;
}

.team-card p{
    padding: 10px;
    font-style: italic;
}

.team-card ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-team-card{
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-team-card:hover{
    background-color: #888;
}


.our-services{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgb(80, 151, 233);
}
.cards-services{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card-service{
    background-color: #333;
    color: white;
    text-align: center;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px #222;
}

.card-service h2{
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.card-service p{
    padding: 10px;
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(187, 221, 250);
}

.card-service .btn-service{
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.card-service .btn-service:hover{
    background-color: #94abd4;
}

.card-service img{
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 0 0;
}

.pricing-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.pricing{
    box-shadow: 1px 5px 12px #333;
    text-align: center;
    background-color: #888;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
}

.pricing h2{
    color: white;
    font-size: 2rem;
}

.pricing p{
    font-size: 1.2rem;
    padding: 10px;
    font-weight: bold;
}

.btn-pricing{
    cursor: pointer;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
    font-size: 1.4rem;
    transition: 0.3s;
}

#basic{
    background-color: #666;
}
#basic .btn-pricing:hover{
    background-color: #999;
}

#standard{
    background-color: #707781;
}
#standard .btn-pricing:hover{
    background-color: #94abd4;
}

#premium{
    background-color: goldenrod;
}
#premium .btn-pricing:hover{
    background-color: gold;
}


.about-section{
    background-image: url(/pictures/consulting-agency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.about{
    background-color: #33333383;
    padding: 200px;
}

.h1-about{
    font-size: 3rem;
    padding: 20px;
    position: relative;
    top: 150px;
    right: 120px;
    color: white;
}

.para-about{
    background: linear-gradient(135deg, rgb(18, 18, 68) 60%, #03339c 100%);
}

.para-about p{
    padding: 50px;
    color: white;
    font-size: 1.2rem;
    line-height: 30px;
    margin-left: 40px;
}

.we-are{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.h1-p h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

.h1-p p{
    font-size: 1.2rem;
    line-height: 30px;
    color: #333;
}

.we-are .h1-p{
    text-align: left;
    margin-top: 150px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
}

.we-are img{
    width: 48%;
    height: 650px;
}

.about-us-flex{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-us{
    padding: 15px;
    width: 300px;
}

.about-us h2{
    margin-bottom: 15px;
    font-size: 2rem;
    color: #111;
}

.about-us p{
    line-height: 30px;
    font-size: 1.2rem;
    color: #333;
}

@media (max-width:1030px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
    .navbar{
        margin-top: 20px;
    }

    .hero-section #tagline{
        margin-top: 20px;
    }
}

@media (max-width:800px){
    .header{
        flex-direction: column;
        align-items: center;
    }

    .header h1{
        font-size: 2rem;
    }
    .navbar{
        margin-top: 20px;
    }

    .hero-section #tagline{
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .card{
        width: 90%;
    }

    .mail-name input{
        width: 90%;
    }

    .team-card{
        width: 90%;
    }

    .pricing{
        width: 70%;
    }

    .we-are{
        flex-wrap: wrap;
    }

    .we-are img{
        width: 100%;
    }

    .we-are .h1-p{
        margin-top: 20px;
    }

    .h1-about{
        min-width: 400px;
    }

    .about-us-flex{
        flex-direction: column;
        align-items: center;
    }
}